<ion-header>
    <ion-navbar>
        <ion-title>Fotos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-grid>

        <ion-row>
            <ion-col col-6 *ngFor="let foto of fotos">
                <ion-card no-margin>
                    <img [src]="foto.img"/>
                </ion-card>
            </ion-col>

            <ion-col col-6>
                <ion-card no-margin>
                    <img src="assets/imgs/camera_800X600_cor.png" (click)="capturaFoto()"/>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>-->

    <div class="pins">
        <div class="pin" *ngFor="let foto of fotos">
            <!--<img [src]="foto.img"/>-->
            <ion-card no-margin>
                <img [src]="foto.img"/>
            </ion-card>
        </div>
        <div class="pin">
            <!--<img src="assets/imgs/camera_800X600_cor.png" (click)="capturaFoto()"/>-->
            <ion-card no-margin>
                <img src="assets/imgs/camera_800X600_cor.png" (click)="capturaFoto()"/>
            </ion-card>
        </div>
    </div>


</ion-content>
